*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  height: 100%;
  font-family: $font-oswald;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
