*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  height: 100%;
  font-family: $font-oswald;
  font-weight: 400;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.text-h2 {
  font-family: $font-oswald;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
}

.text-h3 {
  font-family: $font-oswald;
  font-weight: 500;
  font-size: 24px;
}

.text-h4 {
  font-family: $font-oswald;
  font-weight: 500;
  font-size: 21px;
}

.text-p {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 16px;
}

.text-p-reviews {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
