@media (max-width: 1919px) {
  .portfolio {
    &__body {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: 350px;
    }
  }
}

@media (max-width: 992px) {
  .about {
    padding: 60px 0;
    &__main {
      padding-top: 360px;
    }
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .info {
    top: -230px;
    padding: 50px;
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .request {
    &__body {
      display: block;
    }
    &__info {
      margin-bottom: 15px;
    }
  }

  .services {
    padding: 60px 0;
    &__body {
      grid-template-columns: repeat(2, 1fr);
    }
    &__title {
      margin-bottom: 35px;
    }
  }

  .answer {
    padding: 60px 0;
  }

  .partners {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .header {
    &__top {
      margin-bottom: 60px;
    }
    &__title {
      font-size: 50px;
      line-height: 72px;
    }
  }

  .info {
    top: -270px;
  }
}

@media (max-width: 576px) {
  .header {
    min-height: 400px;
    &__title {
      font-size: 42px;
      line-height: 64px;
    }
    &__subtitle {
      font-size: 15px;
      line-height: 21px;
    }
  }

  .about {
    &__container {
      position: static;
    }
    &__main {
      padding-top: 60px;
    }
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__title {
      margin-bottom: 35px;
      font-size: 30px;
    }
  }

  .info {
    padding: 15px;
    position: static;
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }

  .request {
    &__title {
      font-size: 38px;
      line-height: 48px;
    }
    &__subtitle {
      font-size: 21px;
      line-height: 28px;
    }
  }

  .services {
    &__body {
      gap: 8px;
    }
  }
}

@media (max-width: 480px) {
  .services {
    &__body {
      grid-template-columns: 1fr;
    }
  }

  .answer {
    &__item-title {
      font-size: 22px;
    }
  }
}
