@import "./normalize.scss";

@import "./fonts";

@import "./variable";

@import "./global";

// HEADER

.header {
  position: relative;
  min-height: 740px;
  padding-bottom: 30px;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #404149;
    opacity: 0.9;
  }
  &__body {
    position: relative;
    z-index: 3;
  }
  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 112px;
  }
  &__title {
    max-width: 734px;
    margin: 0 auto;
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-white;
  }
  &__subtitle {
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
  }
}

.logo {
  width: 60px;
  height: 60px;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: $color-accent;
  cursor: pointer;
  &__line {
    display: inline-block;
    width: 21px;
    height: 4px;
    border-radius: 3px;
    background-color: #fff;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}

// HEADER

// ABOUT

.about {
  min-height: 1080px;
  &__container {
    position: relative;
  }
  &__main {
    padding-top: 256px;
  }
  &__title {
    margin-bottom: 55px;
    text-align: center;
    color: $color-dark;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &__item-image {
    position: relative;
    overflow: hidden;
    min-height: 380px;
    margin-bottom: 45px;
    border-radius: 20px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__item-title {
    position: relative;
    padding-top: 27px;
    margin-bottom: 17px;
    color: $color-dark;
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      width: 55px;
      height: 6px;
      background-color: $color-accent;
    }
  }
  &__item-text {
    line-height: 22px;
    color: $color-grey;
  }
}

.info {
  position: absolute;
  top: -150px;
  z-index: 4;
  min-height: 300px;
  width: 100%;
  padding: 54px 130px;
  border-radius: 4px;
  background-color: #f7f7f7;
  &__wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &__item {
    text-align: center;
  }
  &__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-transform: uppercase;
    color: $color-accent;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000;
  }
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-grey;
  }
}

// ABOUT

// REQUEST

.request {
  color: $color-white;
  background-color: $color-accent;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 38px 0;
  }
  &__title {
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 14px 30px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }
  &__btn-icon {
    height: 18px;
    width: 21px;
    margin-right: 15px;
  }
  &__btn-text {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
  }
}

// REQUEST

// SERVICES

.services {
  padding: 156px 0;
  &__title {
    text-align: center;
    margin-bottom: 66px;
    color: #000;
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &__item {
    padding: 59px 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
  }
  &__img {
    width: 60px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 23px;
  }
  &__text {
    text-align: center;
    margin: 0 auto;
    width: 172px;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #000;
  }
}

// SERVICES

// PORTFOLIO

.portfolio {
  &__body {
    display: grid;
    grid-template-columns: repeat(4, minmax(480px, 1fr));
    grid-auto-rows: 407px;
  }
  &__item {
    position: relative;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// PORTFOLIO

@import "./media";
